.log {
    overflow: auto;
    width: 70%;
    height: 400px;
    margin: auto;
    border: 1px double #020202;
    border-radius: 6px;
    padding: 1em;
}

.input {
    margin: auto;
    width: 70%;
    margin-top: 2em;
}

#input {
    width: 100%;
    font-size: 1.3em;
    color: #262626;
    border: 2px solid #595540;
    border-radius: 6px;
}

h2 {
    text-align: center;
}