.log {
    overflow: auto;
    width: 90%;
    height: 450px;
    margin: auto;
    border: 3px double #020202;
    border-radius: 6px;
    padding: 1em;
}

.caption {

}

.input {
    display: block;
    margin: auto;
    width: 70%;
    margin-top: 5em;
}

#input {
    width: 100%;
    font-size: 1.3em;
    color: #262626;
    border: 3px solid #595540;
    border-radius: 6px;
    padding: 6px;
}

h1 {
    text-align: center;
}